# Secret key can be generated using this commande
# docker compose run --rm -it transportscolaire python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=<generate secret key>
#DEBUG=true
# default db is sqlite3
# DATABASE_URL=postgres://dbuser:dbpassword@dbhost:5432/dbname
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1
SITE_URL=http://localhost:8000
