DJ_DEBUG=true
DJ_SITE=http://localhost:8000
DJ_ALLOWED_HOSTS=localhost,127.0.0.1
DJ_SECRET_KEY="django-insecure-8ge&8xlof1xfjkz&_6%=6bcxz4coc4efugax-79-+&=d5(pm@p"


# Secret key can be generated using this commande
# docker compose run --rm -it transportscolaire python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJ_SECRET_KEY=<generate secret key>
#DJ_DEBUG=true
# default db is sqlite3
# DATABASE_URL=postgres://dbuser:dbpassword@dbhost:5432/dbname
DJ_ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1
DJ_SITE=http://localhost:8000

