{% extends 'base.html' %}

{% load django_bootstrap5 i18n %}

{% block title %}
  Companies List
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="m-3">
        <h2>Personnes morales</h2>

        <!-- Formulaire pour la validation des données en masse -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <!-- Formulaire de filtrage -->
      <form id="filter-form" method="get" action="{% url 'cerfa_filler:companies-list' %}">
        {% csrf_token %}
        {% bootstrap_form filterForm %}
        {% bootstrap_button button_type='submit' content="Let's Go!" layout='horizontal' %}
      </form>
    </div>
    <div class="col-10">
      <form id="update-form" method="post" action="{% url 'cerfa_filler:companies-update-valid-date' %}">
        {% csrf_token %}
        <div class="float-end">
          {% if perms.cerfa_filler.add_companies %}
            <a class="btn btn-primary" href="{% url 'cerfa_filler:companies-create' %}">＋ Nouveau</a>
          {% endif %}
          {% if perms.cerfa_filler.change_validation %}
            <button type="submit" form="update-form" class="btn btn-success">✔ Valider</button>
          {% endif %}
        </div>

        {% comment %} <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="filterYear" placeholder="Filter by Year" onkeyup="filterTable()" />
          </div>
          <div class="col">
            <input type="text" class="form-control" id="filterLabel" placeholder="Filter by Label" onkeyup="filterTable()" />
          </div>
          <div class="col">
            <input type="text" class="form-control" id="filterPostalCode" placeholder="Filter by Postal Code" onkeyup="filterTable()" />
          </div>
        </div> {% endcomment %}

        <table class="table table-striped">
          <thead>
            <tr>
              {% if perms.cerfa_filler.change_validation %}
                <th>
                  <input type="checkbox" onclick="toggle(this);" />
                </th>
              {% endif %}
              <th onclick="sortTable({% if perms.cerfa_filler.change_validation %}

                  1

                {% else %}

                  0

                {% endif %})">DT</th>
              <th onclick="sortTable({% if perms.cerfa_filler.change_validation %}

                  2

                {% else %}

                  1

                {% endif %})">Numéro d'ordre</th>
              <th onclick="sortTable({% if perms.cerfa_filler.change_validation %}

                  3

                {% else %}

                  2

                {% endif %})">Nom</th>
              <th onclick="sortTable({% if perms.cerfa_filler.change_validation %}

                  4

                {% else %}

                  3

                {% endif %})">Total</th>
              <th onclick="sortTable({% if perms.cerfa_filler.change_validation %}

                  5

                {% else %}

                  4

                {% endif %})">Commentaire</th>
              <th>Statut</th>
              {% if perms.cerfa_filler.change_companies or perms.cerfa_filler.send_email %}
                <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for company in companies %}
              <tr data-bs-toggle="tooltip" data-bs-placement="top" title="{{ company.metadata }}">
                {% if perms.cerfa_filler.change_validation %}
                  <th>
                    <input type="checkbox" name="selected_companies" value="{{ company.uuid }}" />
                  </th>
                {% endif %}
                <td>{{ company.declarative_structure|default_if_none:'-' }}</td>
                <td data="{{ company.order }}">{{ company.order_number }}</td>
                <td>{{ company.label }}</td>
                <td data="{{ company.total_donation }}">{{ company.total_donation }} €</td>
                <td>{{ company.comment|default_if_none:'' }}</td>
                <td>
                  <span class="text-{% if company.valid_date %}success{% else %}default{% endif %}">
                    {% if company.valid_date %}
                      ⬤
                    {% else %}
                      ◯
                    {% endif %}
                  </span>
                </td>
                {% if perms.cerfa_filler.change_companies or perms.cerfa_filler.send_email %}
                  <td>
                    {% if perms.cerfa_filler.change_companies %}
                      <a href="{% url 'cerfa_filler:companies-update' company.uuid %}" class="btn btn-sm btn-warning">Edit</a>
                    {% endif %}
                    {% if perms.cerfa_filler.send_email and company.valid_date %}
                      <a href="{% url 'cerfa_filler:companies-cerfa-pdf' company.uuid %}" class="btn btn-sm btn-success">Cerfa</a>
                      {% if company.mailto %}
                        <a class="btn btn-sm btn-info" href="{{ company.mailto }}">Email</a>
                      {% endif %}
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <script>
    const toggle = (source) => {
      let checkboxes = document.querySelectorAll('input[type="checkbox"]')
      checkboxes.forEach((i) => {
        if (i != source) {
          i.checked = source.checked
        }
      })
    }

    function sortTable(columnIndex) {
      const table = document.querySelector('.table tbody')
      const rows = Array.from(table.rows)
      const sortedRows = rows.sort((a, b) => {
        const isNumeric = a.cells[columnIndex].getAttribute('data') && b.cells[columnIndex].getAttribute('data')
        aValue = a.cells[columnIndex].getAttribute('data') || a.cells[columnIndex].textContent.trim()
        bValue = b.cells[columnIndex].getAttribute('data') || b.cells[columnIndex].textContent.trim()
        return aValue.localeCompare(bValue, undefined, { numeric: isNumeric })
      })
      // Clear the table and append sorted rows
      table.innerHTML = ''
      sortedRows.forEach((row) => table.appendChild(row))
    }
  </script>
{% endblock %}
