
{% extends 'base.html' %}
 {% load django_bootstrap5 i18n %}
{% block title %}Companies List{% endblock %}

{% block content %}


    <div class="container mt-5">
        <h1 class="">{% translate "Cerfa filler" %}</h1>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-6">
                <div class="card text-center text-bg-info " >
                    <div class="card-body">
                        <h2 class="card-title">{% translate 'Companies' %}</h2>
                        <a href="{% url 'cerfa_filler:companies-list' %}" class="btn btn-primary">{% translate 'Companies List' %}</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-6">
                <div class="card text-center text-bg-success">
                    <div class="card-body">
                        <h2 class="card-title">{% translate 'Individuals' %}</h2>
                        <button href="#" class="btn btn-primary" disabled>{% translate 'Individuals List' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


                {% comment %} <a href="{% url 'cerfa_filler:companies-create' %}" class="btn btn-success">Add Company</a> {% endcomment %}

{% endblock %}
